<!DOCTYPE html>
<html>
<head>
  <title>Jimi Welling | Helsinki | jimi.welling@gmail.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if session[:logged_in] %>
    <p class="admin-fixed-panel">You are logged in. <%= link_to "Edit entries", root_path %>, <%= link_to "upload new entry", new_entry_path %> or <%= link_to "log out", "/logout" %>.</p> 
  <% end %>

  <%= yield %>

</body>
</html>
